.country,
.country_selected {
  padding: 0.5em 0.2em;

  display: flex;
  align-items: center;

  height: 40px;

  gap: 30px;

  font-family: var(--font-primary);

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  position: relative;

  cursor: pointer;
}

.country:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.country p,
.country_selected p {
  margin: 0;
  pointer-events: none;
}

.country svg,
.country_selected svg {
  pointer-events: none;
}

.country_selected {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.map_button {
  background-color: #1e3548;

  border: 1px solid white;
  border-radius: 0.3em;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 42px;
  height: 30px;
}

.map_button:hover {
  background-color: #0074e4;
}

.map_button svg {
  pointer-events: none;

  color: white;
}
