.search_bar_container {
  display: flex;
  align-items: center;

  gap: 10px;
}

.search_bar_container label {
  color: white;

  white-space: nowrap;
}

.search_bar_container input {
  border: 1px solid black;
  outline: none;
  background: white;

  border-radius: 0.3em;

  font-family: var(--font-primary);

  width: 150px;
  height: 30px;

  font-size: 14px;
}

@media all and (max-width: 1024px) {
  .search_bar_container label {
    font-size: 16px;
  }

  .search_bar_container input {
    width: 100px;
    height: 20px;
  }
}

@media all and (max-width: 840px) {
  .search_bar_container label {
    font-size: 16px;
  }

  .search_bar_container input {
    font-size: 12px;

    width: 80px;
    height: 16px;
  }
}
