.homepage_wrapper {
  width: 100vw;
  height: 100vh;

  background-color: #3e56ec;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.city_selector_container {
  position: relative;
  width: 50%;
  height: 600px;

  border-radius: 0.3em;

  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: #053b50;
}

.countries_list {
  position: relative;

  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 540px;

  /* background-color: rgba(122, 187, 210, 0.6); */
  background-color: #176b87;
}
